<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :name, style: "display: block", class:"form-label" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :short_name, style: "display: block", class:"form-label" %>
    <%= form.text_field :short_name, class:"form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :unit_id, style: "display: block", class:"form-label" %>
    <%= form.select :unit_id, Unit.all.collect { |unit| [unit.short_name, unit.id] }, { include_blank: false }, class:"form-select" %>
  </div>

  <% unless (current_user.role_is_user?) %>
    <div class="field mb-2">
      <%= form.label :leader_id, style: "display: block", class:"form-label" %>
      <%= form.select :leader_id, User.all.collect { |user| [user.name, user.id] unless user.role_is_user? }.compact , { include_blank: true }, class:"form-select" %>
    </div>
  <% end %>

  <div>
    <%= form.submit class:"btn btn-success mt-2"%>
  </div>
<% end %>
