<div id="<%= dom_id team %>" class="card shadow-sm mb-3 rounded">
  <h5 class="card-header">
    <strong>Name:</strong>
    <%= team.name %>
  </h5>
  <div class="card-body">
    <h5 class="card-title">Unit:</h5>
    <p class="card-text"><%= Unit.find(team.unit_id).short_name %></p>
    <h5 class="card-title">Short name:</h5>
    <p class="card-text"><%= team.short_name %></p>
    <h5 class="card-title">Leader:</h5>
    <p class="card-text"><%= team.leader.name unless team.leader_id.blank? %></p>
  </div>
</div>
