<h1>Users</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="text-light bg-dark">
    <tr>
      <th scope="col" class="text-center">Email</th>
      <th scope="col" class="text-center">Name</th>
      <th scope="col" class="text-center">Team</th>
      <th scope="col" class="text-center">Vacations left</th>
      <% unless (current_user.role_is_user?) %>
      <th scope="col" class="text-center">Role</th>
      <% end %>
    </tr>
  </thead>
  <tbody id="users">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td>
        <%= Unit.find(Team.find(user.team_id).unit_id).short_name unless user.team_id.blank? %>.<%= Team.find(user.team_id).short_name unless user.team_id.blank? %>
        </td>
        <td><%# user.leaves %></td>
        <% unless current_user.role_is_user? %>
        <td><%= user.role %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>