<h1>Units</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="text-light bg-dark">
    <tr>
      <th scope="col" class="text-center">Unit</th>
      <th scope="col" class="text-center">Short name</th>
      <th scope="col" colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody id="units">
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
        <td><%= unit.short_name %></td>
        <td class="text-center"><%= link_to "Full details", unit, class:"btn btn-secondary btn-sm" %></td>
        <% unless (current_user.user?) %>
        <td class="text-center"><%= link_to "Edit", edit_unit_path(unit), class:"btn btn-secondary btn-sm" %></td>
        <td class="text-center"><%= link_to "Delete", unit_path(unit), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% unless (current_user.user?) %>
<%= link_to "New Unit", new_unit_path, class:"btn btn-secondary" %>
<% end %>